@import "./normalize.css";
@import "tailwindcss";
*,
*::before,
*::after {
  border: 0;
  margin: 0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.wrapper {
  max-width: 1880px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
